---
import Layout from "@layouts/Layout.astro";
import AudioFeatureWrapper from "@solid/components/AudioFeatureWrapper";
import CanvasPage from "@svelte/apps/canvas/index.svelte";
---

<Layout
  title="Canvas"
  description="A blank slate for making music. Drag in audio and effect blocks to create music."
>
  <main
    class="flex flex-col items-center justify-center h-screen w-full overflow-hidden"
  >
    <AudioFeatureWrapper client:load>
      <CanvasPage client:load />
    </AudioFeatureWrapper>
  </main>
</Layout>
