---
import Layout from '@layouts/Layout.astro';
import FFT from '@features/fft/index.svelte';
import FloatingContainer from '@components/FloatingContainer.astro';
import MicrophoneManager from '@components/MicrophoneManager';
---

<Layout title='Fast-Fourier Transform - Tone Sandbox'>
  <FloatingContainer position='top-right'>
    <MicrophoneManager client:load />
  </FloatingContainer>
  <main
    class='flex flex-col items-center justify-center h-screen w-full overflow-hidden'
  >
    <FFT client:load />
  </main>
</Layout>
