---
import Layout from "@layouts/Layout.astro";
import FFT from "@features/fft/index.svelte";
import MicrophoneModule from "@modules/microphone";
---

<Layout
  title="Fast-Fourier Transform"
  description="A visualization of the Fast-Fourier Transform, which displays the sound from a microphone based on its frequencies."
>
  <main
    class="flex flex-col items-center justify-center h-screen w-full overflow-hidden"
  >
    <MicrophoneModule position={"top-right"} client:load />
    <FFT client:load />
  </main>
</Layout>
