---
import Layout from "@layouts/Layout.astro";
import FibonacciPage from "@solid/apps/fibonacci";
import AudioFeatureWrapper from "@solid/components/AudioFeatureWrapper";
---

<Layout
  title="Fibonacci Melody Generator"
  description="A melody generator based on the Fibonacci sequence. Tweak the modular division denominator and base octave to create different melodies. "
>
  <main
    class="flex flex-col items-center justify-center h-screen w-full overflow-hidden"
  >
    <AudioFeatureWrapper client:load>
      <FibonacciPage client:load />
    </AudioFeatureWrapper>
  </main>
</Layout>
