---
import AudioFeatureWrapper from "@components/AudioFeatureWrapper";
import LoadingOverlay from "@components/LoadingOverlay";
import InstrumentModule from "@modules/instruments/InstrumentModule";
import MIDIDeviceModule from "@modules/midi";
import Piano from "../features/piano";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Piano"
  description="Playable either through clicking or with a MIDI controller, this piano features note highlighting for held notes and a variety of different customizable instrument sounds to choose from."
>
  <main class="flex flex-col items-center justify-center h-screen w-full">
    <LoadingOverlay client:load />
    <AudioFeatureWrapper client:load>
      <MIDIDeviceModule client:load position={"top-right"} />
      <InstrumentModule
        client:load
        defaultInstrument={"piano"}
        presetInstruments={[
          "piano",
          "velocity-piano",
          "soft-synth",
          "kalimba-synth",
          "sawtooth-synth",
          "bass-guitar-synth",
        ]}
        position={"bottom-right"}
      />
      <Piano client:load />
    </AudioFeatureWrapper>
  </main>
</Layout>
