---
import AudioFeatureWrapper from "@solid/components/AudioFeatureWrapper";
import LoadingOverlay from "@solid/components/LoadingOverlay";
import InstrumentModule from "@solid/modules/instruments/InstrumentModule";
import MIDIDeviceModule from "@solid/modules/midi";
import Layout from "@layouts/Layout.astro";
import PianoPage from "@preact/apps/piano";
---

<Layout
  title="Piano"
  description="Playable either through clicking or with a MIDI controller, this piano features note highlighting for held notes and a variety of different customizable instrument sounds to choose from."
>
  <main class="flex flex-col items-center justify-center h-screen w-full">
    <LoadingOverlay client:load />
    <AudioFeatureWrapper client:load>
      <MIDIDeviceModule client:load position={"top-right"} />
      <InstrumentModule
        client:load
        defaultInstrument={"piano"}
        presetInstruments={[
          "piano",
          "velocity-piano",
          "retro-synth",
          "kalimba-synth",
          "sawtooth-synth",
          "bass-guitar-synth",
        ]}
        position={"bottom-right"}
      />
      <PianoPage client:load />
    </AudioFeatureWrapper>
  </main>
</Layout>
