---
import Layout from "../layouts/Layout.astro";
import Piano from "../features/piano";
import ExternalMIDIManager from "../components/ExternalMIDIManager";
import FloatingContainer from "@components/FloatingContainer.astro";
import { InstrumentManagerContent } from "@components/InstrumentManager";
import ToneFeatureWrapper from "@components/ToneFeatureWrapper";
---

<Layout title="Piano - Tone Sandbox">
  <FloatingContainer position="top-right">
    <ExternalMIDIManager client:load />
  </FloatingContainer>
  <FloatingContainer position="bottom-right">
    <InstrumentManagerContent client:load />
  </FloatingContainer>
  <main class="flex flex-col items-center justify-center h-screen w-full">
    <ToneFeatureWrapper client:load>
      <Piano client:visible />
    </ToneFeatureWrapper>
  </main>
</Layout>
