---
import Layout from "../layouts/Layout.astro";
import Sequencer from "../features/sequencer";
import LoadingOverlay from "@components/LoadingOverlay";
import AudioFeatureWrapper from "@components/AudioFeatureWrapper";
import InstrumentModule from "@modules/instruments/InstrumentModule";
---

<Layout
  title="Music Sequencer"
  description="Features customizable measure/beat/subdivision lengths, a collection of customizeable playback instruments, and the ability to share compositions with friends."
>
  <main class="flex flex-col items-center justify-center h-screen w-full">
    <LoadingOverlay client:load />
    <AudioFeatureWrapper client:load>
      <InstrumentModule
        client:load
        defaultInstrument={"kalimba-synth"}
        presetInstruments={[
          "retro-synth",
          "kalimba-synth",
          "sawtooth-synth",
          "bass-guitar-synth",
          "piano",
        ]}
        position={"bottom-left"}
      />
      <Sequencer client:load />
    </AudioFeatureWrapper>
  </main>
</Layout>
