---
import Layout from "@layouts/Layout.astro";
import ThereminApp from "@features/theremin";
import AudioFeatureWrapper from "@components/AudioFeatureWrapper";
---

<Layout
    title="Theramin"
    description="A theramin emulator controlled using your computer webcam and hand movements. Pinch your fingers together and make some music!"
>
    <main
        class="flex flex-col items-center justify-center h-screen w-full overflow-hidden"
    >
        <AudioFeatureWrapper client:load>
            <ThereminApp client:only="solid-js" />
        </AudioFeatureWrapper>
    </main>
</Layout>

<style>
    :global(.handsfree-debugger) {
        display: none;
    }
</style>
