---
import clsx from 'clsx';

export interface Props {
  position: 'top-right' | 'bottom-right' | 'bottom-left';
}

const { position } = Astro.props;
---

<div
  class={clsx('absolute bg-white py-2 px-4 rounded shadow', {
    'top-4 right-4': position === 'top-right',
    'bottom-4 right-4': position === 'bottom-right',
    'bottom-4 left-4': position === 'bottom-left',
  })}
>
  <slot />
</div>
