---
import { Icon } from "astro-icon";

export interface Props {
  title: string;
  body: string;
  icon: string;
  href?: string;
}

const { href, title, body, icon } = Astro.props;
---

<li class="h-full">
  <a href={href}>
    <div
      class="flex flex-col items-center justify-center gap-4 bg-white dark:bg-gray-800 dark:text-white shadow rounded p-6 border-transparent hover:border-purple-600 border-2 transition-all"
    >
      <div class="bg-purple-600 dark:bg-purple-500 rounded p-4">
        <Icon pack="ph" name={icon} />
      </div>
      <div class="flex-1 text-center">
        <h2 class="font-bold mb-1">
          {title}
        </h2>
        <p class="leading-tight text-gray-700 dark:text-gray-200">
          {body}
        </p>
      </div>
    </div>
  </a>
</li>

<style>
  [astro-icon] {
    height: 2rem;
    width: 2rem;
    color: white;
  }
</style>
